:root {
  --primary-text-color: ;
  --secondary-text-color: ;
  --hover-textcolor: ;
  --primary-font-size: ;
  --secondary-font-size: ;
  --primary-font-weight: ;
  --secondary-font-weight: ;
}

body {
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1170px;
}